* {
  box-sizing: border-box;
}
body{
  border: 15px solid #F3B660;
}


/* Containers */
.container-fluid {
  padding: 1% 5%;

}

/* Sections */
.top-page {
background-color: #753742;
background: 
}


/* Navigation Bar */
.nav-item {
  padding: 0 18px;
}



/* About Me */
.about-me {
  padding: 3% 10% 3%;
  text-align: left;
}

.title-image {
  margin-top: 15%;
  margin-left: 20%;
}

/* Education */

.border{
  margin: 10px;
}

.icon{
color:#ef8172;
margin-bottom: 10%;
}

h5{
  text-align: center;
  margin-top: 5%;
}

h6{
  color: gray;
  text-align: center;
}


/* Skills Section */

.color-section {
  background-color: #ef8172;
  margin: 7% 5%;
  padding: 2% 1% 2% 1%;


}

.skills-image {
  width: 10%;
  margin: 20px;

}

.slider-header{
  text-align: center;
  color: white;
}

/* My Work */

.work-image {
  width: 50%;
}



/* Footer */
footer {
  background-color: #ef8172

}
