* {
  box-sizing: border-box;
}

body {
  border: 15px solid #F3B660;
}

/* Containers */
.container-fluid {
  padding: 1% 5%;
}

/* Sections */
.top-page {
  background-color: #753742;
}

/* Navigation Bar */
.nav-item {
  padding: 0 18px;
}

/* About Me */
.about-me {
  padding: 3% 10% 3%;
  text-align: left;
}

.image-fluid {
  margin-top: 5%;
  margin-left: 3%;
  width: 75%;
}

.title-img-div {
  padding-top: 7%;
  padding-left: 15%;
}

.mini {
  width: 25%;
}

/* Education */
.border {
  margin: 10px;
}

.icon {
  color: #ef8172;
  margin-bottom: 10%;
}

h5 {
  text-align: center;
  margin-top: 5%;
}

h6 {
  color: gray;
  text-align: center;
}

/* Skills Section */
.color-section {
  background-color: #ef8172;
  margin: 7% 5%;
  padding: 2% 1% 2% 1%;
}

.skills-image {
  width: 10%;
  margin: 20px;
}

.slider-header {
  text-align: center;
  color: white;
}

/* My Work */
.work-image {
  width: 50%;
}

/* Contact Me */
.contact-me {
  text-align: center;
}

.form {
  width: 325px;
  padding: 5px;
}

.button {
  margin-bottom: 3%;
  background-color: #ef8172;
  border-radius: 10px;
  width: 150px;
}

legend {
  margin-bottom: 3%;
}



/* Footer */
.footer-section {
  background-color: #753742;
  text-align: center;
  color: white;

 
}


/* Media Queries */
@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {}

/* <picture>
  <source srcset="img_small.jpg" media="(max-width: 600px)">
  <source srcset="img_medium.jpg" media="(max-width: 1500px)">
  <source srcset="img_large.jpg">
  <img src="img.jpg" alt="Image">
</picture> */
