* {
  box-sizing: border-box;
}

body {
  border: 15px solid #F3B660;
}

.center {
  text-align: center;
}

p{
  font-family: "Work Sans", sans-serif;
  text-align: center;
}

/* Containers */
.container-fluid {
  padding: 1% 5%;
}



/* Sections */
.header {
  background-color: #753742;
}



/* Navigation Bar */
.nav-item {
  padding: 0 18px;
}

.nav-link{
  font-family: "Poppins", sans-serif;
}



/* About Me */
.about-me {
  padding: 3% 10% 3%;
  text-align: left;
}

.image-fluid {
  margin-top: 5%;
  margin-left: 3%;
}

.profile {
  margin: 8% 20%;
}

.mini {
  width: 25%;
}

.about {
  margin: 3%;
}

.intro-para{
  text-align: left;
  margin-top: 15px;
}



/* Education */
.border {
  margin: 10px;
}

.icon {
  color: #ef8172;
  margin-bottom: 10%;
}

h2{
  font-family: "Poppins", sans-serif;
}


h5 {
  text-align: center;
  margin-top: 5%;
}

h6 {
  color: gray;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.e-hover {
  text-decoration: none;
  color: black;
}

.e-hover:hover {
  color: #ef8172;
}



/* Skills Section */
.color-section {
  background-color: #ef8172;
  margin: 7% 5%;
  padding: 2% 1% 2% 1%;
}

.skills-image {
  width: 10%;
  margin: 20px;
}

.slider-header {
  text-align: center;
  color: white;
}




/* My Work */
.work-image {
  width: 50%;
}




/* Contact Me */
.contact-me {
  text-align: center;
}

.button {
  margin-bottom: 3%;
  background-color: #ef8172;
  border-radius: 10px;
  width: 150px;
}

.button:hover {
  background-color: #753742;
  color: white;
}

legend {
  margin-bottom: 3%;
}

/* Footer */
.footer-section {
  background-color: #753742;
  text-align: center;
  color: white;
}

.f-icon {
  padding: 0 18px;
  margin-bottom: 30px;
  margin-top: 30px;
  text-decoration: none;
  color: white;
}

.f-icon:hover {
  color: #ef8172;
}

/* Media Queries */
@media only screen and (min-width: 350px) {
  .profile {
    padding-right: 10%;
  }
}

@media only screen and (max-width: 768px) {
  .profile {
    padding-left: 10%;
    margin-top: 0%;
    margin-bottom: 3%;
  }

  input {
    width: 250px;
  }
}

@media only screen and (min-width: 992px) {
  .nav-item {
    padding: 0 15px;
  }

  .profile {
    padding-left: 1%;
    padding-top: 15%;
  }
}
